@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* generated-color-tokens:start */
  --color-base-white: #ffffff;
  --color-base-black: #111111;
  --color-neutral-50: #f1f5f9;
  --color-neutral-100: #e0e5f0;
  --color-neutral-200: #c2ccdb;
  --color-neutral-300: #a8b4c7;
  --color-neutral-400: #939eae;
  --color-neutral-500: #7e8795;
  --color-neutral-600: #686d79;
  --color-neutral-700: #4a5059;
  --color-neutral-800: #2d3139;
  --color-neutral-900: #181d26;
  --color-purple-50: #f9f2fd;
  --color-purple-100: #eedcf9;
  --color-purple-200: #dfbef3;
  --color-purple-300: #cd9bed;
  --color-purple-400: #ba74e6;
  --color-purple-500: #a74ddf;
  --color-purple-600: #9326d9;
  --color-purple-700: #701da5;
  --color-purple-800: #501575;
  --color-purple-900: #2c0c41;
  --color-orange-50: #fff4f0;
  --color-orange-100: #fee2d8;
  --color-orange-200: #fcbea6;
  --color-orange-300: #fba17f;
  --color-orange-400: #f98052;
  --color-orange-500: #f85f26;
  --color-orange-600: #de4207;
  --color-orange-700: #a83205;
  --color-orange-800: #722203;
  --color-orange-900: #320f01;
  --color-red-50: #fdf2f2;
  --color-red-100: #f8d8d8;
  --color-red-200: #f1adad;
  --color-red-300: #ea8686;
  --color-red-400: #e35f5f;
  --color-red-500: #dc3838;
  --color-red-600: #ba2121;
  --color-red-700: #8b1818;
  --color-red-800: #5b1010;
  --color-red-900: #2b0808;
  --color-green-100: #e4f8ea;
  --color-green-200: #bbeecc;
  --color-green-300: #6fdb93;
  --color-green-400: #16c551;
  --color-green-500: #00a838;
  --color-green-600: #008a2e;
  --color-green-700: #006d25;
  --color-green-800: #00541c;
  --color-green-900: #003813;
  --color-alpha-white-10: #ffffff1a;
  --color-alpha-white-25: #ffffff40;
  --color-alpha-white-75: #ffffffbf;
  --color-alpha-white-0: #ffffff00;
  --color-alpha-white-10-2: #ffffff1a;
  --color-alpha-white-50: #ffffff80;
  --color-alpha-white-100: #ffffff;
  --color-alpha-black-0: #11111100;
  --color-alpha-black-10: #1111111a;
  --color-alpha-black-100: #111111;
  --color-alpha-black-25: #11111140;
  --color-alpha-black-50: #11111180;
  --color-alpha-black-75: #111111bf;
/* generated-color-tokens:end */

  /* generated-text-tokens:start */
  --font-family-primary: Pretendard;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --line-height-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --line-height-18: 18px;
  --font-size-20: 20px;
  --line-height-20: 20px;
  --font-size-24: 24px;
  --line-height-24: 24px;
  --font-size-28: 28px;
  --line-height-28: 28px;
  --font-size-32: 32px;
  --line-height-32: 32px;
  --font-size-40: 40px;
  --line-height-40: 40px;
  --font-size-48: 48px;
  --line-height-48: 48px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
/* generated-text-tokens:end */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-geist-mono);

  /* base color tokens required for Tailwind v4 utilities */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --ring: oklch(0.708 0 0);
  --border: oklch(0.922 0 0);

  /* generated-semantic-tokens:start */
  --color-bg-primary: var(--color-purple-600);
  --color-bg-primary-hovered: var(--color-purple-700);
  --color-bg-primary-focused: var(--color-purple-800);
  --color-bg-base: var(--color-base-white);
  --color-bg-base-hovered: var(--color-neutral-50);
  --color-bg-base-focused: var(--color-neutral-100);
  --color-bg-disabled: var(--color-neutral-100);
  --color-bg-transparent-darkest: var(--color-alpha-black-50);
  --color-bg-transparent-darker: var(--color-alpha-black-25);
  --color-bg-transparent-dark: var(--color-alpha-black-10);
  --color-bg-neutral-focused: var(--color-neutral-50);
  --color-bg-neutral-hovered: var(--color-neutral-100);
  --color-bg-neutral: var(--color-neutral-50);
  --color-bg-transparent-mostdarkest: var(--color-alpha-black-75);
  --color-bg-info: var(--color-purple-50);
  --color-bg-info-hovered: var(--color-purple-100);
  --color-bg-inverse-hovered: var(--color-neutral-800);
  --color-bg-inverse: var(--color-neutral-700);
  --color-bg-danger-subtle: var(--color-red-50);
  --color-bg-danger-subtle-hovered: var(--color-red-100);
  --color-bg-tertiary: var(--color-neutral-50);
  --color-bg-info-focused: var(--color-purple-100);
  --color-bg-transparent-lightest: var(--color-alpha-white-50);
  --color-text-inverse: var(--color-base-white);
  --color-text-primary: var(--color-neutral-900);
  --color-text-disabled: var(--color-neutral-300);
  --color-text-secondary: var(--color-neutral-800);
  --color-text-tertiary: var(--color-neutral-600);
  --color-text-transparent-dark: var(--color-alpha-black-50);
  --color-text-info: var(--color-purple-600);
  --color-border-inverse: var(--color-neutral-200);
  --color-border-primary: var(--color-purple-600);
  --color-border-secondary: var(--color-purple-300);
  --color-border-tertiary: var(--color-neutral-100);
  --color-border-line: var(--color-neutral-50);
  --color-icon-primary: var(--color-purple-600);
  --color-icon-inverese: var(--color-base-white);
  --color-icon-disabled: var(--color-neutral-300);
  --color-icon-secondary: var(--color-neutral-800);
  --color-icon-danger: var(--color-red-500);
  --color-icon-tertiary: var(--color-neutral-600);
/* generated-semantic-tokens:end */

  /* generated-typography-tokens:start */
  --font-primary: var(--font-family-primary);
  --text-12: var(--font-size-12);
  --text-14: var(--font-size-14);
  --text-16: var(--font-size-16);
  --leading-16: var(--line-height-16);
  --text-17: var(--font-size-17);
  --text-18: var(--font-size-18);
  --leading-18: var(--line-height-18);
  --text-20: var(--font-size-20);
  --leading-20: var(--line-height-20);
  --text-24: var(--font-size-24);
  --leading-24: var(--line-height-24);
  --text-28: var(--font-size-28);
  --leading-28: var(--line-height-28);
  --text-32: var(--font-size-32);
  --leading-32: var(--line-height-32);
  --text-40: var(--font-size-40);
  --leading-40: var(--line-height-40);
  --text-48: var(--font-size-48);
  --leading-48: var(--line-height-48);
/* generated-typography-tokens:end */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
/* generated-typography-utilities:start */
@utility text-12 {
  font-size: var(--text-12);
  font-family: var(--font-primary);
}
@utility text-12-400 {
  font-size: var(--text-12);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-12-500 {
  font-size: var(--text-12);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-12-600 {
  font-size: var(--text-12);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-12-700 {
  font-size: var(--text-12);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-14 {
  font-size: var(--text-14);
  font-family: var(--font-primary);
}
@utility text-14-400 {
  font-size: var(--text-14);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-14-500 {
  font-size: var(--text-14);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-14-600 {
  font-size: var(--text-14);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-14-700 {
  font-size: var(--text-14);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-16 {
  font-size: var(--text-16);
  line-height: var(--leading-16);
  font-family: var(--font-primary);
}
@utility text-16-400 {
  font-size: var(--text-16);
  line-height: var(--leading-16);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-16-500 {
  font-size: var(--text-16);
  line-height: var(--leading-16);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-16-600 {
  font-size: var(--text-16);
  line-height: var(--leading-16);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-16-700 {
  font-size: var(--text-16);
  line-height: var(--leading-16);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-17 {
  font-size: var(--text-17);
  font-family: var(--font-primary);
}
@utility text-17-400 {
  font-size: var(--text-17);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-17-500 {
  font-size: var(--text-17);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-17-600 {
  font-size: var(--text-17);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-17-700 {
  font-size: var(--text-17);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-18 {
  font-size: var(--text-18);
  line-height: var(--leading-18);
  font-family: var(--font-primary);
}
@utility text-18-400 {
  font-size: var(--text-18);
  line-height: var(--leading-18);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-18-500 {
  font-size: var(--text-18);
  line-height: var(--leading-18);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-18-600 {
  font-size: var(--text-18);
  line-height: var(--leading-18);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-18-700 {
  font-size: var(--text-18);
  line-height: var(--leading-18);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-20 {
  font-size: var(--text-20);
  line-height: var(--leading-20);
  font-family: var(--font-primary);
}
@utility text-20-400 {
  font-size: var(--text-20);
  line-height: var(--leading-20);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-20-500 {
  font-size: var(--text-20);
  line-height: var(--leading-20);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-20-600 {
  font-size: var(--text-20);
  line-height: var(--leading-20);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-20-700 {
  font-size: var(--text-20);
  line-height: var(--leading-20);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-24 {
  font-size: var(--text-24);
  line-height: var(--leading-24);
  font-family: var(--font-primary);
}
@utility text-24-400 {
  font-size: var(--text-24);
  line-height: var(--leading-24);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-24-500 {
  font-size: var(--text-24);
  line-height: var(--leading-24);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-24-600 {
  font-size: var(--text-24);
  line-height: var(--leading-24);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-24-700 {
  font-size: var(--text-24);
  line-height: var(--leading-24);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-28 {
  font-size: var(--text-28);
  line-height: var(--leading-28);
  font-family: var(--font-primary);
}
@utility text-28-400 {
  font-size: var(--text-28);
  line-height: var(--leading-28);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-28-500 {
  font-size: var(--text-28);
  line-height: var(--leading-28);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-28-600 {
  font-size: var(--text-28);
  line-height: var(--leading-28);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-28-700 {
  font-size: var(--text-28);
  line-height: var(--leading-28);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-32 {
  font-size: var(--text-32);
  line-height: var(--leading-32);
  font-family: var(--font-primary);
}
@utility text-32-400 {
  font-size: var(--text-32);
  line-height: var(--leading-32);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-32-500 {
  font-size: var(--text-32);
  line-height: var(--leading-32);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-32-600 {
  font-size: var(--text-32);
  line-height: var(--leading-32);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-32-700 {
  font-size: var(--text-32);
  line-height: var(--leading-32);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-40 {
  font-size: var(--text-40);
  line-height: var(--leading-40);
  font-family: var(--font-primary);
}
@utility text-40-400 {
  font-size: var(--text-40);
  line-height: var(--leading-40);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-40-500 {
  font-size: var(--text-40);
  line-height: var(--leading-40);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-40-600 {
  font-size: var(--text-40);
  line-height: var(--leading-40);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-40-700 {
  font-size: var(--text-40);
  line-height: var(--leading-40);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
@utility text-48 {
  font-size: var(--text-48);
  line-height: var(--leading-48);
  font-family: var(--font-primary);
}
@utility text-48-400 {
  font-size: var(--text-48);
  line-height: var(--leading-48);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-400);
}
@utility text-48-500 {
  font-size: var(--text-48);
  line-height: var(--leading-48);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-500);
}
@utility text-48-600 {
  font-size: var(--text-48);
  line-height: var(--leading-48);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-600);
}
@utility text-48-700 {
  font-size: var(--text-48);
  line-height: var(--leading-48);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-700);
}
/* generated-typography-utilities:end */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* 커스텀 브레이크포인트 설정 */
  --breakpoint-mobile: 0px; /* 모바일: 0px ~ 767px */
  --breakpoint-tablet: 768px; /* 태블릿: 768px ~ 1023px */
  --breakpoint-pc: 1024px; /* PC: 1024px 이상 */
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: oklch(from var(--ring) l c h / 0.5);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-family-primary);
  }
}
